---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list";


import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from '../../components/pokemos/PokemonCard.astro';

export const getStaticPaths = ( async () => {
    const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151')
    const {results} = await resp.json() as PokemonListResponse;


    return results.map(({name, url}) => ({
        params: {name},
        props: { name, url}
    }));
   
}) satisfies GetStaticPaths;

const {name} = Astro.params;
const { url } = Astro.props;

const id = url.split('/').at(-2)
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`



---

<MainLayout title="Algun pokemon">
<section class="mt-10 mx-10 flex flex-col justify-center items-center">
<div>
    <h1 class="text-5xl capitalize font-bold mb-4">{name}</h1>
    <a href="/">Regresar</a>
</div>

<PokemonCard
name={name}
url={url}
isBig 
/>

<audio controls class="mt-5">
    <source src={audioSrc} type="audio/ogg">
    Your browser does not support the audio element.
</audio>

</section>
</MainLayout>


<style>
    a {
        @apply hover:bg-slate-600 bg-slate-800 px-2 py-2 
    }
</style>



